.sb {
    &_lists {
        @include flex(flex-start, flex-start);
        gap: 24px;
        opacity: 0;
        transition: 0.5s;

        ul {
            @include flex(center, stretch, column);
            margin: 24px 32px;
            min-height: 100px;
            gap: 20px;
            flex: 1;
        }

        .backlog__item,
        .sprint__item {
            @include flex(space-between, center);
            padding: 10px 20px;
            border: 2px dashed rgba(#fff, 0.5);
            border-radius: 20px;
            background: rgba(var(--dark), 0.6);
            gap: 8px;

            span{
                --n-bg: var(--primary-default);

                &:first-child {
                    @include flex();
                    background: var(--n-bg);
                    border-radius: 50%;
                    height: 34px;
                    flex: 0 0 34px;
                }
                &:last-child {
                    flex: 9;
                }
            }
        }
        .sprint__item span {
            --n-bg: var(--role-team2-default);
        }
    }
}
.eeGoOut {
    display: none;
}

.stage_1 {
    &.sb_lists {
        opacity: 1;
    }
    &.danger {
        .sprint__item {
            border-color: red;
            border-width: 3px;
        }
        .process::after {
            background: red;
        }
    }
    .process {
        position: relative;
        background: var(--role-team-dark);
        height: 20px;
        border-radius: 10px;
        margin: 24px 32px;
        min-width: 354px;

        &::after {
            content: '';
            position: absolute;
            background: var(--role-team1-default);
            border: 4px solid var(--role-team-dark);
            border-radius: inherit;
            height: 12px;
            width: 100%;
            transform-origin: left;
            transform: scaleX(var(--score));
        }
        &::before {
            content: attr(data-score);
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 14px;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
}