.button {
    @include flex();
    position: relative;
    padding: 12px 48px;

    > * {
        pointer-events: none;
    }
    
    &__cover {
        position: absolute;
        top: -64%;
        width: 200%;
        height: 200%;
        z-index: -1;
        transition: 0.3s;
        
        path {
            fill: url('#buttonGradient');
        }
    }
    &__side {
        position: absolute;
        top: -56%;
        width: 200%;
        height: 200%;
        z-index: -2;

        path {
            fill: var(--primary-default);
        }
    }

    &:active {
        .button__cover {
            transform: translateY(2.5%);
        }
    }
}
