.chatBox {
    position: relative;
    padding: 40px 84px 40px 100px;
    white-space: pre-wrap;
    border-radius: 40px;
    flex: 1;
    transform: scale(0.01);
    transform-origin: left;

    &.large {
        padding: 100px 84px;
        border-radius: 80px;
    }

    &.no-next .chatBox__next {
        display: none;
    }

    &.po {
        --ani-bg: var(--primary-default);

        background-image: var(--role-po-linear);
        border: 2px solid var(--primary-default);
        box-shadow: var(--role-po-box-shadow);

        .chatBox__name {
            background: var(--primary-default);
            color: var(--bg-dark);

            &::before {
                background: var(--primary-deepdark);
                box-shadow: var(--role-po-box-shadow);
            }
        }
        .chatBox__next path {
            stroke: var(--primary-default);
            fill: var(--primary-default);
        }
    }

    &__name {
        @include position(absolute, -12px, 40px);
        padding: 0 24px;

        &::before {
            @include position(absolute, 0, 0);
            content: ' ';
            width: 10px;
            transform: skewY(45deg) translateY(5px);
            z-index: -1;
        }
    }

    &__next {
        @include position(absolute, initial, initial, 40px, 40px);
        animation: next 0.35s infinite alternate ease-in;
    }

    &__text {
        .heightlight {
            color: var(--text-tint);
        }
    }
}

@keyframes next {
    80% {
        transform: translateY(64%) scale(1);
    }
    100% {
        transform: translateY(80%) scale(1.2, 0.5);
    }
}
