.po_2_button {
    @include init(1.5s);
}
.po_2.po_2_button {
    @include show();
}
.po_3.po_2_button {
    @include init();
}

.po_3_list {
    @include init(1.5s);
    margin: 0 auto;

    &.po_3,
    &.po_4 {
        @include show();
        opacity: 1;
        pointer-events: auto;
    }
    &.po_5 {
        @include init();
    }

    .list__body {
        position: relative;
        width: 100%;
        padding-left: 36px;

        &::before {
            content: '高';
            position: absolute;
            top: 16px;
        }
        &::after {
            content: '低';
            position: absolute;
            bottom: 16px;
        }
    }
    ul {
        @include flex(center, stretch, column);
        margin: 24px 36px;
        min-height: 100px;
        width: 390px;
        gap: 12px;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: calc(100% - 110px);
            background: #fff;
            left: 46px;
        }
        &::after {
            content: '';
            position: absolute;
            left: 41px;
            bottom: 56px;
            width: 10px;
            height: 10px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
        }
    }
    .backlog__item {
        @include flex(flex-start);
        border: 1px solid var(--text-tint);
        border-style: dashed;
        border-radius: 20px;
        padding: 12px 24px;
        min-width: 100px;
        min-height: 48px;
        background: rgba(var(--dark), 0.6);
        user-select: none;
    }
}

.po_3_item {
    position: absolute;
    padding: 12px 24px;
    border: 2px solid var(--primary-default);
    border-radius: 20px;
    background: rgba(var(--dark), 0.6);
    width: max-content;
    max-width: 300px;
    z-index: 10;

    &_1 {
        left: 4%;
        bottom: 28%
    }
    &_2 {
        top: 46%;
        right: 4%;
    }
    &_3 {
        top: 42%;
        left: 10%;
    }
    &_4 {
        right: 9%;
        bottom: 30%;

        svg {
            display: none;
        }
    }

    &s {
        @include init(1.5s);
        
        &.po_3,
        &.po_4 {
            @include show();
        }
        &.po_5 {
            @include init();
        }
    }
}
.demo.po_3_items {
    .po_3_item_4 {
        animation: moveItem 1s infinite;

        svg {
            display: block;
            position: absolute;
            bottom: -15px;
            left: 15px;
        }
    }
}

@keyframes moveItem {
    100% {
        right: 47%;
        bottom: 47%;
    }
}

.po_3_button {
    @include init(1.5s);
}
.po_3.po_3_button {
    @include show();
}
.po_4.po_3_button {
    @include show();
    transition-delay: 0s;
}
.po_5.po_3_button {
    @include init();
}
