@font-face {
    font-family: 'GenJyuuGothic-P';
    src: url('./fonts/GenJyuuGothic-P-Medium.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Medium.woff') format('woff');
}

* {
    user-select: none;
}

body {
    font-family: GenJyuuGothic-P, sans-serif;
    font-size: var(--fz-base);
    line-height: 1.8;
    letter-spacing: 0.05em;
    height: 100vh;
    background: var(--bg-dark);
    color: var(--text-default);
    overflow: hidden;
    overflow-y: auto;
}

h2 {
    line-height: 1.5;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

button {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

svg {
    pointer-events: none;
}

.b {
    font-weight: bold;
}

.fz-l {
    font-size: var(--fz-l);
}

.fz-s {
    font-size: var(--fz-s);
}

.container {
    padding: 0 32px;
}

.fixedRB {
    @include position(fixed, initial, initial, 24px, 48px);
}
.fixedRT {
    @include position(fixed, initial, 24px, 24px);
}
.fixedLB {
    @include position(fixed, 24px, initial, initial, 48px);
}
.fixedCenter {
    @include position(fixed, 20%, 40%);
    width: 50%;
}
.roleChat {
    padding: 20px;

    &__chat {
        @include flex(center, flex-start);
        gap: 32px;
    }
}

.rotate180 {
    transform: rotate(180deg);
}