@font-face {
    font-family: 'GenJyuuGothic-P';
    src: url('./fonts/GenJyuuGothic-P-Medium.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Medium.woff') format('woff');
}

body {
    font-family: GenJyuuGothic-P, sans-serif;
    font-size: var(--fz-base);
    line-height: 1.8;
    letter-spacing: 0.05em;
    height: 100vh;
    background: var(--bg-dark);
    color: var(--text-default);
    overflow: hidden;
}

h2 {
    line-height: 1.5;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

button {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

.b {
    font-weight: bold;
}

.fz-l {
    font-size: var(--fz-l);
}

.fz-s {
    font-size: var(--fz-s);
}

.container {
    padding: 0 32px;
}
