@mixin position($position, $left: initial, $top: initial, $right: initial, $bottom: initial) {
    position: $position;
    left: $left;
    top: $top;
    right: $right;
    bottom: $bottom;
}

@mixin flex($justify-content: center, $align-items: center, $flex-flow: row wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-flow: $flex-flow;
}
@mixin init($delay: 0s, $duration: 0.5s) {
    opacity: 0;
    transition-delay: $delay;
    transition-duration: $duration;
    pointer-events: none;
}
@mixin show() {
    opacity: 1;
    pointer-events: auto;
}