:root {
    --primary: 0, 255, 224;
    --primary-default: rgb(var(--primary));
    --primary-dark: #008D96;
    --primary-deepdark: #005656;
    --primary-radial: radial-gradient(
        50% 50% at 50% 50%,
        var(--primary-default),
        transparent
    );
    --primary-linear: linear-gradient(
        transparent,
        rgba(var(--primary), 0.25) 60%,
        rgba(var(--primary), 0.45) 80%,
        rgba(var(--primary), 0.7) 90%,
        rgba(var(--primary), 0.9) 100%
    );

    --secondary: 255, 122, 0;
    --secondary-default: rgb(var(--secondary));
    --secondary-radial: radial-gradient(
        50% 50% at 50% 50%,
        var(--secondary-default),
        transparent
    );

    --role-po-linear: linear-gradient(
        transparent,
        rgba(var(--primary), 0.03) 60%,
        rgba(var(--primary), 0.12) 78%,
        rgba(var(--primary), 0.36) 100%
    );
    --role-po-box-shadow: 0 0 20px rgba(var(--primary), 0.3),
        0 0 40px rgba(var(--primary), 0.2),
        0 0 60px rgba(var(--primary), 0.1);

    --role-sm: 211, 85, 255;
    --role-sm-default: rgb(var(--role-sm));
    --role-sm-dark: #4C0071;
    --role-sm-tint: #FF00F5;
    --role-sm-radial: radial-gradient(
        50% 50% at 50% 50%,
        var(--role-sm-default),
        transparent
    );
    --role-sm-linear: linear-gradient(
        transparent,
        rgba(var(--role-sm), 0.05) 60%,
        rgba(var(--role-sm), 0.2) 80%,
        rgba(var(--role-sm), 0.6) 100%
    );
    --role-sm-box-shadow: 0 0 20px rgba(var(--role-sm), 0.3),
        0 0 40px rgba(var(--role-sm), 0.2),
        0 0 60px rgba(var(--role-sm), 0.1);

    --role-team1: 255, 199, 0;
    --role-team1-default: rgb(var(--role-team1));
    --role-team1-linear: linear-gradient(
        transparent,
        rgba(var(--role-team1), 0.05) 60%,
        rgba(var(--role-team1), 0.2) 80%,
        rgba(var(--role-team1), 0.6) 100%
    );
    --role-team1-box-shadow: 0 0 20px rgba(var(--role-team1), 0.3),
        0 0 40px rgba(var(--role-team1), 0.2),
        0 0 60px rgba(var(--role-team1), 0.1);

    --role-team2: 255, 122, 0;
    --role-team2-default: rgb(var(--role-team2));
    --role-team2-linear: linear-gradient(
        transparent,
        rgba(var(--role-team2), 0.05) 60%,
        rgba(var(--role-team2), 0.2) 80%,
        rgba(var(--role-team2), 0.6) 100%
    );
    --role-team2-box-shadow: 0 0 20px rgba(var(--role-team2), 0.3),
        0 0 40px rgba(var(--role-team2), 0.2),
        0 0 60px rgba(var(--role-team2), 0.1);
    --role-team-dark: #933500;
    
    --dark: 10, 13, 19;
    --bg-dark: rgb(var(--dark));
    --bg-transitions: #1C324560;
    
    --text-default: #FFFFFF;
    --text-dark: #005656;
    --text-tint: #00FFE0;

    --danger: #FF0000;
    
    --fz-l: 24px;
    --fz-base: 20px;
    --fz-s: 16px;
}
