@font-face {
    font-family: 'GenJyuuGothic-P';
    src: url('./fonts/GenJyuuGothic-P-Medium.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Medium.woff') format('woff');
}

:root {
    --primary: #00EEF0;
    --primary-dark: #008D96;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
	vertical-align: baseline;
}

html {
    color-scheme: dark light;
}

body {
    font-family: GenJyuuGothic-P, sans-serif;
    font-size: 20px;
    min-height: 100vh;
    line-height: 1.8;
    letter-spacing: 0.05em;
    background: var(--bg-dark);
    color: var(--text-default);
    overflow: hidden;
    overflow-y: auto;
}

ol, ul {
    list-style: none;
}

img, picture, svg, video {
    display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
    user-select: none;
}

h2 {
    line-height: 1.5;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

button {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}

svg {
    pointer-events: none;
}

::selection {
    background: #CEFC;
    color: #000;
}

.jira,
.confluence {
    display: inline-block;
    margin-bottom: -6px;
    height: auto;
    pointer-events: auto;
    cursor: pointer;
}

.jira:hover path,
.confluence:hover path {
    fill: #00EEF0;
}

.jira {
    width: 90px;
}

.confluence {
    width: 200px;
}

.fz-s {
    font-size: 16px;
}

.fz-l {
    font-size: 24px;
}

.h2 {
    font-size: 32px;
}

.d-none {
    display: none;
    visibility: hidden;
}
