.no-bg .bgRoot {
    display: none;
    visibility: hidden;
}

.bgRoot {
    @include position(fixed, 0, 0, 0, 0);
    z-index: -10;
}
.bgVillage {
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    overflow: hidden;
    z-index: -5;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-1 {
        transform: translateX(calc(var(--bg-parallax) / 4));
        animation: bg 2s infinite;
    }
    &-2 {
        transform: translateX(calc(var(--bg-parallax) / -2));
    }
    &-3 {
        transform: translateX(var(--bg-parallax));
    }
}

@keyframes bg {
    50% {
        transform: translateX(calc(var(--bg-parallax) / -2)) scaleY(0.95);
    }
}